/* FONTS GOOGLE */
@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');

/* VARIABLES */

:root {
    --blanco: #E0E0E0;
    --azul-opacidad: #184463;
    --bg-menu: #003053;
    --bg-body: #C7E1FF;
}

/* GENERALES */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Quicksand', sans-serif;
    color: var(--blanco);
}

/* LAYOUT */

.menu-dashboard {
    max-width: 150px;
    height: 100vh;
    background: var(--bg-menu);
    padding: 20px;
    transition: max-width .3s ease;
    
}

.top-menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.top-menu .logo {
    display: flex;
    align-items: center;
}

.top-menu .logo img {
    width: 40px;
    transition: width .3s ease;
}

.top-menu .logo span {
    font-size: 20px;
    margin-left: 20px;
    display: none;
}

.top-menu .toggle {
    width: 30px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
}

.top-menu .toggle i {
    font-size: 35px;
}

.error {
    color: red;
}

.success {
    color: green;
}


.blur-background {
    backdrop-filter: blur(10px);
}
/* INPUT BOX */

.input-search {
    width: 50%;
    background-color: var(--azul-opacidad);
    border-radius: 8px;
    margin-left: 0px;
}

.input-search i {
    font-size: 30px;
    margin-right: 20px;
}

.input-search .input {
    border: none;
    outline: none;
    background-color: transparent;
    width: 100%;
    height: 30px;
    color: var(--blanco);
    font-size: 22px;
    display: none;
}

/* ENLACES MENU */

.menu .enlace {
    width: 100%;
    padding: 20px 0 20px 17px;
    border-radius: 8px;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    cursor: pointer;
    font-size: 20px;
    transition: all .3s ease;
}

.menu .enlace:hover {
    background: var(--azul-opacidad);
}

.menu .enlace i {
    margin-right: 20px;
    font-size: 25px;
}

.menu .enlace span {
    opacity: 0;
    transition: opacity .3s ease;
}

.menu-dashboard.open {
    max-width: 300px;
}

.menu-dashboard.open .top-menu .logo span {
    display: block;
}

.menu-dashboard.open .input-search
.menu-dashboard.open .menu .enlace {
    width: auto;
}

.menu-dashboard.open .input-search .input {
    display: block;
}

.menu-dashboard.open .menu .enlace {
    padding: 20px;
}

.menu-dashboard.open .menu .enlace span {
    opacity: 1;
}

.menu{
    margin-top: 25%;
}

a{
    text-decoration: none;
    color: white;
}

.parent {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;

    }
    
.menu-dashboard { grid-area: 1 / 1 / 6 / 2; }
.content { grid-area: 1 / 2 / 6 / 6; }
.inicio { grid-area: 1 / 2 / 6 / 6; }
.contentIngresar { grid-area: 1 / 2 / 6 / 6; }
.registro { grid-area: 1 / 2 / 6 / 6; }


.content{
    height: 20%;
    width: 100%;
    margin-top: 4%;
    padding-left: 3%;
    color: black;
}

.registro{
    margin-top: 50px;
}

.registro p{
    color: #003053;
}

.registro .ingresar-codigo{
    margin-left: 20px;
    padding: 2px;
}


#default-modal1{
    margin-left: 20%;
}

#modalIngresarAsamblea{
    margin-top: 15%;
    margin-left: 25%;
}

#modalCrearAsamblea{
    margin-top: 15%;
    margin-left: 25%;
}

.information{
    height: 20%;
 
}

.texto{

    height: 80%;
}

.formCrear{
    
    margin-top: 3%;
    
}

.cancel{
    height: 1%;
    width: 1%;
}

textarea{
    resize: none;
}

.inicio{
    height: 20%;
    margin-top: 5%;
    margin-right: 5%;
    padding-left: 3%;
    color: black;
}
h1{
    font-weight: bold;
    font-size: 20px;
}
.imgUrna{
    padding-left: 27%;
}

.imgUrna1{
    padding-left: 27%;
}

.tituloInicio{
    height: 20%;
}

.textoInicio{
    margin-top: 2%;
    height: 80%;
}

.contentIngresar{
    color: black;
    height: 20%;
    margin-top: 4%;
}

.informationP{
    height: 20%;
}

.textoP{
    margin-top: 2%;
    height: 80%;
}

.modal::backdrop{
    background-color: azure;
    display: flex;
    align-items: center;
}
.dropdown-menu {
    display: none;
    position: absolute;
    top: 100%;
    z-index: 50;
    width: 300px;
    right: auto;
    margin-left: -1rem;
}

.dropdown-menu.show {
    display: block;
}

/* Estilo adicional para la barra graduadora */
.slider {
    -webkit-appearance: none;
    appearance: none;
    width: 100%;
    height: 8px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    transition: opacity .2s;
}

.slider:hover {
    opacity: 1;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background: #4A5568; /* bg-gray-700 */
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background: #4A5568; /* bg-gray-700 */
    cursor: pointer;
}

/* Añadir espacio entre los ítems del menú desplegable */
.dropdown-menu .menu-item {
    margin-bottom: 1rem;
}

.dropdown-menu .menu-item:last-child {
    margin-bottom: 0;
}

body.dark-mode {
    background-color: #121212;
    color: #E0E0E0;

}

body.dark-mode p,
body.dark-mode a,
body.dark-mode h1,
body.dark-mode h2,
body.dark-mode h3,
body.dark-mode h4,
body.dark-mode h5,
body.dark-mode h6,
body.dark-mode span,
body.dark-mode label{
    color: #E0E0E0;
}

body.dark-mode .bg-gray-800 {
    background-color: #1E1E1E;
}

body.dark-mode .bg-gray-900 {
    background-color: #121212;
}

body.dark-mode .text-gray-400 {
    color: #B0B0B0;
}

body.dark-mode .hover\\:bg-gray-700:hover {
    background-color: #2A2A2A;
}

body.dark-mode .dark\\:bg-gray-700 {
    background-color: #2A2A2A;
}

/* Text Size Adjustment */
body {
    font-size: var(--text-size, 100%);
}

h1, h2, h3, h4, h5, h6, p, a, span,label {
    font-size: inherit;
}

