<!-- Esta pagina hay que fusionarla con el index.html que hay usando control
 de acceso por roles, averiguar tambien la restriccion de metodos de back tambien-->

<!DOCTYPE html>
<html lang="en" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Menu Dashboard</title>
    <!-- BOX ICONS -->
    <link href='https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css' rel='stylesheet'>
    <!-- CUSTOM CSS -->
    <link rel="stylesheet" href="./css/estilos.css">
    <!-- CUSTOM JS -->
    <script src="./js/app.js" defer></script>
</head>
<body>

   <div class="parent" th:fragment="admin">
        <div class="menu-dashboard">
            <!-- TOP MENU -->
            <div class="top-menu">
                <div class="logo">
                    <img th:src="@{/img/app.logo.svg}" alt="">
                    <span>QuorumVote</span>
                </div>
                <div class="toggle" id="printoggle">
                    <i class='bx bx-menu' id="i_id"></i>
                </div>
            </div>
            <!-- INPUT SEARCH -->
            <div class="input-search">
                <i class='bx bx-search'></i>
                <input type="text" class="input" placeholder="Buscar">
            </div>
            <!-- MENU -->
            <div class="menu">
                    <a th:href="@{/indexAdmin}">
                        <div class="enlace">
                            <span>Inicio</span>
                        </div>
                    </a>
            

                    <a th:href="@{/crearAsamblea}">
                        <div class="enlace">
                            <span>Crear asamblea</span>
                        </div>    
                    </a>
                <a th:href="@{/registro}">
                <div class="enlace">
                    <span>Asistencia</span>
                </div>
                </a>

                <div class="enlace">
                    <span>Votaciones</span>
                </div>

                <div class="enlace">
                    <span>Resultados</span>
                </div>

                <div class="enlace">
                    <span sec:authorize="isAuthenticated()"><a th:href="@{/logout}">Cerrar sesión</a></span>
                </div>

            </div>
        </div>

        <div class="inicio">

            <div class="tituloInicio">
                <h1>Inicio </h1>
            </div>
            <br>
            <div class="textoInicio">
                <h5>Tu herramienta confiable para la gestión
                    de votaciones en tu comunidad. En QuorumVote,
                    estamos comprometidos con facilitar la toma
                    de decisiones en conjuntos residenciales,
                    asegurando un proceso claro, transparente y
                    accesible para todos los residentes. Nuestro
                    software está diseñado para simplificar cada
                    paso, desde la creación de la votación hasta
                    el recuento de resultados, permitiendo que
                    cada voz sea escuchada.</h5>

            </div>
            <div class="imgUrna">
                <img src=".\img\planilla.png" height="300px" width="300px">
            </div>
            
        </div>
   </div>
    
</body>
</html>