<!DOCTYPE html>
<html lang="en" xmlns:sec="http://www.w3.org/1999/xhtml">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Menu Dashboard</title>
        <!-- BOX ICONS -->
        <link href='https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css' rel='stylesheet'>
        <link href="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.3.0/flowbite.min.css"  rel="stylesheet" />
        <!-- CUSTOM CSS -->
        <link rel="stylesheet" th:href="@{/css/estilos.css}">
        <!-- CUSTOM JS -->
        <script th:src="@{/js/app.js}"></script>
        <script th:src="@{/js/modal.js}"></script>
    </head>
<body>

    <div class="parent">
        <div class="menu-dashboard">
            <!-- TOP MENU -->
            <div class="top-menu">
                <div class="logo">
                    <img th:src="@{/img/logo.svg}" alt="">
                    <span>QuorumVote</span>
                </div>
                <div class="toggle" id="printoggle">
                    <i class='bx bx-menu' id="i_id"></i>
                </div>
            </div>
            <!-- INPUT SEARCH -->
            <div class="input-search">
                <i class='bx bx-search'></i>
                <input type="text" class="input" placeholder="Buscar">
            </div>
            <!-- MENU -->
            <div class="menu">
                <a th:href="@{/}">
                    <div class="enlace">
                        <span>Inicio</span>
                    </div>
                </a>


                <a th:href="@{/ingresarAsamblea}">
                    <div class="enlace">
                        <span>Entra a Asamblea</span>
                    </div>
                </a>

                <div class="enlace">
                    <span>Votaciones</span>
                </div>

                <div class="enlace">
                    <span>Resultados</span>
                </div>

                <div class="enlace">
                    <span sec:authorize="isAuthenticated()"><a th:href="@{/logout}">Cerrar sesión</a></span>
                </div>

            </div>
        </div>

        <div class="contentIngresar">


            <div id="default-modal" tabindex="-1" aria-hidden="true" class="blur-background overflow-y-auto overflow-x-hidden fixed top-0 right-0 left-0 z-50 justify-center items-center w-full md:inset-0 h-[calc(100%-1rem)] max-h-full">
                <div class="relative p-4 w-full max-w-2xl max-h-full">
                    <!-- Modal content -->
                    <div class="relative bg-white rounded-lg shadow dark:bg-gray-700">
                        <!-- Modal header -->
                        <div class="flex items-center justify-between p-4 md:p-5 border-b rounded-t dark:border-gray-600">
                            <h3 class="text-xl font-semibold text-gray-900 dark:text-white">
                                Ingreso a asamblea
                            </h3>
                            <div>
                                <span th:if="${error}" th:text="${error}" class="error" ></span>
                                <span th:if="${mensaje}" th:text="${mensaje}" class="success" id="successSpan"></span>
                            </div>

                        </div>
                        <div id="contentForm">
                        <form th:action="@{/ingresarAsamblea}" method="post">
                        <!-- Modal body -->

                        <div class="modal-body p-4 md:p-5 space-y-4 text-gray-900 dark:text-white">



                            <div class="flex items-center space-x-2">

                                    <label  for="codigoAsm">Digita el codigo de union: </label>
                                    <input id="codigoAsm" name="code" required minlength="6" maxlength="6" type="number" >
                            </div>

                        </div>
                        <!-- Modal footer -->
                        <div class="flex items-center p-4 md:p-5 border-t border-gray-200 rounded-b dark:border-gray-600">
                             <button data-modal-hide="default-modal" type="submit" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Ingresar</button>
                        </div>
                        </form>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>



<script>
    addEventListener("DOMContentLoaded", (event) => {
        var form = document.getElementById("contentForm");
        var successSpan = document.getElementById('successSpan');
        if(successSpan.textContent.trim().length > 0){
            form.classList.add("hidden");
        }

    });

</script>
</body>
</html>
