
<!-- Esta pagina hay que fusionarla con el index.html que hay usando control
 de acceso por roles, averiguar tambien la restriccion de metodos de back tambien-->

<!DOCTYPE html>
<html lang="en" xmlns:sec="http://www.w3.org/1999/xhtml">
<html xmlns:th="http://www.thymeleaf.org" lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Menu Dashboard</title>
    <!-- BOX ICONS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">

    <link href='https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css' rel='stylesheet'>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.3.0/flowbite.min.css"  rel="stylesheet" />
    <!-- CUSTOM CSS -->
    <link rel="stylesheet" th:href="@{/css/estilos.css}">
    <!-- CUSTOM JS -->
    <script th:src="@{/js/app.js}" ></script>
</head>
<body>

<div class="parent" th:fragment="admin">
    <div class="menu-dashboard">
        <!-- TOP MENU -->
        <div class="top-menu">
            <div class="logo">
                <img th:src="@{/img/app.logo.svg}" alt="">
                <span>QuorumVote</span>
            </div>
            <div class="toggle" id="printoggle">
                <i class='bx bx-menu' id="i_id"></i>
            </div>
        </div>
        <!-- MENU -->
        <div class="menu">
            <a th:href="@{/indexAdmin}">
                <div class="enlace">
                    <span>Inicio</span>
                </div>
            </a>


            <a th:href="@{/crearAsamblea}">
                <div class="enlace">
                    <span>Crear asamblea</span>
                </div>
            </a>

            <a href="registro">
                <div class="enlace">
                    <span>registrar delegado</span>
                </div>
            </a>

            <a th:href="@{/votaciones}">
                <div class="enlace">
                    <span>Votaciones</span>
                </div>
            </a>

            <div class="enlace">
                <span>Resultados</span>
            </div>
            <a th:href="@{/crearUsuario}">
                <div class="enlace">
                    <span>Crear usuario</span>
                </div>
            </a>

            <div class="enlace">
                <span sec:authorize="isAuthenticated()"><a th:href="@{/logout}">Cerrar sesión</a></span>
            </div>
        </div>
    </div>

    <div class="registro">
        <div id="default-modal" tabindex="-1" aria-hidden="true" class=" items-center justify-center">
            <div class="relative p-4">
                <!-- Modal content -->
                <div class="relative bg-white rounded-lg shadow">
                    <!-- Modal header -->
                    <div class="flex justify-between items-start p-4 rounded-t border-b">
                        <ul class="flex cursor-pointer" id="tabs">
                            <li class="mr-2">
                                <a id="default-tab" class="inline-block py-4 px-6 text-sm font-medium text-center text-blue-500 rounded-t-lg border-b-2 border-blue-500 active" aria-current="page" href="#first">Delegar propietario</a>
                            </li>
                            <li class="mr-2">
                                <a class="inline-block py-4 px-6 text-sm font-medium text-center text-gray-500 rounded-t-lg border-b-2 border-transparent hover:text-gray-600 hover:border-gray-300" href="#second">Delegar externo</a>
                            </li>
                        </ul>

                    </div>
                    <!-- Modal body -->
                    <div class="p-6 space-y-6">
                        <div id="first" class="hidden p-4">
                            <p class="text-base leading-relaxed text-gray-500">

                                Selecciona a qué vecino propietario deseas delegar tu voto en asamblea.
                            </p>
                            <form  class="space-y-4" th:action="@{/registro}" method="post" th:object="${usuario}">

                                <div class="mb-2">

                                    <div th:if=${param.exito} class="success">
                                        <div class="alert alert-info">Se ha registrado exitosamente a
                                            la aplicación</div>
                                    </div>

                                    <label for="delegante" class="block mb-2 text-sm font-medium text-gray-900">Delegante</label>
                                    <select th:field="*{idUsuario}" id="delegante" name="delegante" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5">
                                        <option th:each="sesionUser : ${listarPropietarios}"
                                                th:text="${sesionUser.getNombre()+' '+sesionUser.getApellido()}" th:value="${sesionUser.getIdUsuario()}"/>
                                    </select>
                                </div>

                                <div class="mb-2">
                                    <label for="delegado" class="block mb-2 text-sm font-medium text-gray-900">Delegado</label>
                                    <select th:field="*{delegado}" id="delegado" name="delegado" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5">
                                        <option th:each="sesionUser : ${listarUsuarios}"
                                                th:text="${sesionUser.getNombre()+' '+sesionUser.getApellido()}" th:value="${sesionUser.getIdUsuario()}"/>

                                    </select>
                                </div>
                                <a th:href="@{/indexAdmin}" class="text-gray-600 bg-white hover:bg-gray-100 border border-gray-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center mr-2">Volver al inicio</a>
                                <button type="submit"  class="text-white bg-blue-500 hover:bg-blue-700 font-medium rounded-lg text-sm px-5 py-2.5 text-center">Registrar</button>
                            </form>
                        </div>
                        <div id="second" class="hidden p-4">
                            <p class="text-base leading-relaxed text-gray-500">
                                Ingresa la información de la persona a la que deseas delegar tu voto por ausencia u otro motivo.
                            </p>
                            <form class="space-y-4" th:action="@{/registro}" method="post" th:object="${usuario}">
                                <div th:if=${param.exito} class="success">
                                    <div class="alert alert-info">Se ha registrado exitosamente a
                                        la aplicación</div>
                                </div>
                                <div class="grid gap-4 grid-cols-1 md:grid-cols-2">



                                    <div>
                                        <label for="nombre" class="block mb-2 text-sm font-medium text-gray-900">Nombres</label>
                                        <input th:field="*{nombre}" type="text" id="nombre" name="nombres" class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5" >
                                    </div>
                                    <div>
                                        <label for="apellido" class="block mb-2 text-sm font-medium text-gray-900">Apellidos</label>
                                        <input th:field="*{apellido}" type="text" id="apellido" name="apellidos" class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5" >
                                    </div>
                                    <div>
                                        <label for="documento" class="block mb-2 text-sm font-medium text-gray-900">Documento (C.C)</label>
                                        <input th:field="*{documento}"  type="number" id="documento" name="documento" class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5" >
                                    </div>
                                    <div>
                                        <label for="email" class="block mb-2 text-sm font-medium text-gray-900">Email</label>
                                        <input  th:field="*{correo}" type="email" id="email" name="email" class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5" >
                                    </div>
                                    <div>
                                        <label for="delegante" class="block mb-2 text-sm font-medium text-gray-900">Delegante</label>
                                        <select th:field="*{idUsuario}" id="delegante2" name="delegante" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5">
                                            <option th:each="sesionUser : ${listarPropietarios}"
                                                    th:text="${sesionUser.getNombre()+' '+sesionUser.getApellido()}" th:value="${sesionUser.getIdUsuario()}"/>
                                        </select>
                                    </div>
                                </div>
                                <a th:href="@{/indexAdmin}" class="text-gray-600 bg-white hover:bg-gray-100 border border-gray-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center mr-2">Volver al inicio</a>
                                <button type="submit"  class="text-white bg-blue-500 hover:bg-blue-700 font-medium rounded-lg text-sm px-5 py-2.5 text-center">Registrar</button>
                            </form>
                        </div>
                    </div>
                    <!-- Modal footer -->
                    <div class="flex items-center p-6 space-x-2 rounded-b border-t border-gray-200">

                    </div>
                </div>
            </div>
        </div>



    </div>

</div>
<script src="path_to_tailwindcss"></script>
<script src="path_to_flowbite.js"></script>

<script>
    // JavaScript to switch tabs
    document.querySelectorAll('#tabs a').forEach(tab => {
        tab.addEventListener('click', function (event) {
            event.preventDefault();
            // Hide all tab panels
            document.querySelectorAll('#tabs a').forEach(t => {
                t.classList.replace('text-blue-500', 'text-gray-500');
                t.classList.replace('border-blue-500', 'border-transparent');
                document.querySelector(t.hash).classList.add('hidden');
            });
            // Show selected tab panel
            tab.classList.replace('text-gray-500', 'text-blue-500');
            tab.classList.replace('border-transparent', 'border-blue-500');
            document.querySelector(tab.hash).classList.remove('hidden');
            // Set submit button form
            document.querySelector('.modal-footer button').setAttribute('form', tab.hash.substring(1));
        });
    });

    // Set default tab
    document.querySelector('#default-tab').click();
</script>




</body>
</html>










